*{
    background-color: blueviolet;
    font-size: 1.5rem;
}


.calculator__display {grid-area: display;}
.calculator__number-one {grid-area: one;}
.calculator__number-two {grid-area: two;}
.calculator__number-three {grid-area: three;}
.calculator__number-four {grid-area: four;}
.calculator__number-five {grid-area: five;}
.calculator__number-six {grid-area: six;}
.calculator__number-seven {grid-area: seven;}
.calculator__number-eight {grid-area: eight;}
.calculator__number-nine {grid-area: nine;}
.calculator__number-zero {grid-area: nought;}
.calculator__operator-minus {grid-area: minus;}
.calculator__operator-plus {grid-area: plus;}
.calculator__operator-divide {grid-area: divide;}
.calculator__operator-times {grid-area: multiply;}
.calculator__decimal {grid-area: decimal;}
.calculator__equals {grid-area: equals;}
.calculator__all-clear {grid-area: clear;}

.calculator{
    display: grid;
    grid-template: 50px 75px 75px 75px 75px / 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "display display display display display"
    "one two three clear clear "
    "four five six plus minus"
    "seven eight nine multiply divide"
    "nought decimal decimal equals equals";
    padding: 50px;
    padding-top: 0;
    background-color: blue;
}


.calculator__output{
    display: flex;
    align-items: center;
    justify-content: center;
    //font-size: 3rem;
    height: 1rem;
    background-color: aqua;
    padding: 0;
}

button{
    color: black;
    background-color: rgb(167, 143, 7);
}

button:active {
    background-color: aliceblue;
}

//Having issue with decimal calculations where its corrects but adds alot
//of zeros with then an extra number that makes it incorrect
//slack josie and ask if parsefloat(variable.toFixed(x)) would fix the issue

// GONNA DO ALL THIS AFTER GETING THE FUNCTIONALITY DOWN HEHEHEHEHE