$background-color: blueviolet;
$display-color: rgb(22, 255, 22);
$button-color:rgb(167, 143, 7);
$button-border: rgb(99, 74, 12);
$button-shadow: black;
$button-active: aliceblue;

*{
    background-color: $background-color;
    font-size: 1.5rem;
}
@import "./Design/grid";



.container {
    background-color: $background-color;
}

@import "./Design/output";
@import "./Design/buttons";
@import "./Design/media"
//Having issue with decimal calculations where its corrects but adds alot
//of zeros with then an extra number that makes it incorrect
// would parsefloat(variable.toFixed(x)) would fix the issue

// GONNA DO ALL THIS AFTER GETING THE FUNCTIONALITY DOWN HEHEHEHEHE