button{
    color: black;
    background-color: $button-color;
     margin: 0.2rem;
     border: 4px solid $button-border;
     font-size: 2rem;
     box-shadow: 0.3rem 0.2rem $button-shadow;
}

button:active {
    background-color: $button-active;
}